$curious-primary: #97ab35;
$curious-secondary: #FFFFFF;
$curious-text: #3d3c3c;

$curious-error: #A50203;
$curious-error-light: #FF9494;

$curious-text-light: #6b6b6a;

$curious-background-light: #b4b4b4;

$brand-primary: $curious-primary;